#add_iec {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

#table1 {
    margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        /* padding: 5%; */
}

/*.detailedFeedback {
    display:none;
}*/

#upload_excel {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2%;
    width: 80%;
    text-align: center;
    border-style: double;
    border-color: rgba(255, 102, 0, 1);
    padding: 1%;
}

